/* - - - - - - - FULL - - - - - - - - - */
* {
  box-sizing: border-box;
}

/* - - - - - - - CONTAINER - - - - - - - - - */
#containerHome {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial;
}