/* h1 {
    font-size:18px!important;
}

button, h4, p, li{
    font-size:13px!important;
}
body {
    font-size:18px;
} */

@media screen and (max-width: 1024px) {
    /* h1 {
        font-size:0.8rem!important;
    }
    
    button, h4, p, li{
        font-size:0.8rem!important;
    } */
    h1 {
        font-size:16px!important;
    }
    
    button, h4, p, li{
        font-size:12px!important;
    }
    body {
        font-size:12px;
    }
    
    #filterBtns{
        flex-direction: column!important;
        gap: 0.5rem!important;
    }
    #divFilterZonaDeRisco, #divFilterPontoDeApoio, #divFilterSirene{
        margin:auto!important;

    }
    
    
}

@media screen and (max-width: 790px) {
    h1 {
        font-size:14px!important;
    }
    
    button, h4, p, li{
        font-size:8px!important;
    }
    body {
        font-size:12px;
    }
    
}